<!DOCTYPE html>

<html>

<head>
    <title>help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="css/styles.css" />

</head>

<body>

    <div class="main-content">
        {{>header}}

        <p>{{helpText}}</p>
        <p>How to commit:</p>
        <ul>
            <li>git status</li>
            <li>git add .</li>
            <li>git commit -m "comments"</li>
            <li>git status</li>
            <li>git push</li>
            <li>git push heroku master</li>
        </ul>

    </div>



    {{>footer}}
</body>

</html>